{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'cssjs/login.css' %}">
    <title>GearCraftWorks | Login</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Sign Up</h1>
                <div class="social-icons">
                    <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&hl=en&ifkv=AcMMx-dWleFxpSybJczwISySUYxDdFmD-YBEmcqV10uz6VIMQVTgIB1lSo2vYA5Eg_0a3u167f6H&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-13154014%3A1730917360147913&ddm=1" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="https://facebook.com" target="_blank" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="{% url 'index' %}">Sign Up</a>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&hl=en&ifkv=AcMMx-dWleFxpSybJczwISySUYxDdFmD-YBEmcqV10uz6VIMQVTgIB1lSo2vYA5Eg_0a3u167f6H&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-13154014%3A1730917360147913&ddm=1" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="https://facebook.com" target="_blank" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Forget Your Password?</a>
                <a href="{% url 'index' %}" class="button">Sign In</a>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome to GearCraftWorks</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back!</h1>
                    <p>If you don't have an account, you can register here!</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'cssjs/login.js' %}"></script>
</body>

</html>